@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300;400;500;600;700&display=swap');

nav{
    background-color: #ECECEC;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.nav-link:hover{
    transition: 0.2s;
    font-weight: bold;
}

.title{
    color: #000;
    text-align: center;
    font-family: 'K2D', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 55px;
    margin-bottom: 25px;
}

hr{
    max-width: 90%;
    height: 1px;
    background-color: black;
}

.text{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 35px;
}

.member{
    margin-top: 20px;
    display: flex;
}

.member img{
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

.member p{
    margin-top: 20px;
    margin-left: 25px;
    font-size: 20px;
}

@media (max-width: 374px){
    .title{
        font-size: 30px !important;
    }

    .text{
        max-width: 285px;
    }

    .member img{
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
    }

    .member p{
        margin-top: 0px;
    }
}

@media (min-width: 375px) and (max-width: 424px){
    .title{
        font-size: 35px !important;
    }

    .text{
        max-width: 330px;
    }

    .member img{
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
    }

    .member p{
        margin-top: 10px;
    }
}

@media (min-width: 425px) and (max-width: 767px){
    .title{
        font-size: 40px !important;
    }

    .text{
        max-width: 380px;
    }

    .member img{
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
    }

    .member p{
        margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .text{
        max-width: 685px;
    }

    .member img{
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
    }

    .member p{
        margin-top: 20px;
    }
}